*{
margin: 0;
padding: 0;
}

html, body{
    height: 100%;
    background-color: lightsteelblue;
}

.navbar{
    margin: 0px;
}

.bg-info{
    background-color: lightblue;
}

.container{
    min-height: 100%;
    text-align: -webkit-center;
    width: 550px;
    background-color: aliceblue;
}

form {
    width: 400px;
    margin: 0 auto;
}

.form-control {
border-radius: 20px;
}

h1{
    font-size: 30px;
    max-width: 60%;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    max-width: 40%;
}

.table{
    width: 500px;
    margin-bottom: 15px;
    border-radius: 10px;
}


div.container > a {
    padding-left: inherit;
}

#footer{
    min-height: 50px;
    background-color: lightblue;
    display: flex;
    padding: 0 0.5rem;
    bottom: 0;
}

#footer > p{
    margin: auto;
    display: flex;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  }

.comment{
    color: slategray;
    font-style: italic;
}

.post{
    font-family: serif;
    font-size: 1.2em;
}

.comment-body{
    font-family: serif;
    font-size: 1em;   
}

.next-page{
    width: 500px;
}